

input {
    background-color: black;
    color: white;
  
}

body {
background-attachment: fixed;
background-position: center center;
background-size: cover;
background-image: url("./fondos/fondo_madera.jpg");

}