p {
    color: aqua;
}

h1 {
    position: absolute;
    left: 15%;
    top: 30%;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 550%;
    color: crimson;
    text-shadow: 1px 2px #999;
  }

  #formularios  {

    background-color: orangered;
    width: 30%;
    position: absolute;
    left: 30%;
    top: 40%;
  }

  #portada {
    width: 100%;

    position: absolute;
    bottom: 100%;

  }