
.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#titulo {
	font-size: 100px;
	text-shadow: 1px 2px black;
	color: red;
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}