.menu ,#salir{
    
 
    width:20%;
    height:5%;
    background-color: black;
    color: white;
    border-radius: 10px;
    


}

td ,th {
    border-radius: 4px;
    border: 1px solid black;
}
input {

    border-radius: 10px;
    height: 100%;
    width: 100%;
    font-size: 120%;

}
table {
    width:50%;
    height: 50%;
    background-image: url("./fondos/fondo.jpg");
    color: black;
    border-radius: 10px;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
#manual{
    
        padding: 1%;
        width:50%;
        height: 50%;
        background-image: url("./fondos/fondo.jpg");
        color: black;
        border-radius: 10px;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    


}



img {
    border-radius: 5%;
    margin-left: 20px;
    background-color:whitesmoke;
    height:200px;
    width: 200px;
}