.menu ,#salir{
    width: 10%;


    
    height: 30%;
    background-color: black;
    color: white;
    border-radius: 10px;

}

input {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    font-size: 120%;

}
.submenu {
    
    
    
    width:30%;
    height: 50%;

    background-image: url("./fondos/fondo.jpg");
    color: black;
    border-radius: 10px;
    


}

img {
    
    margin-left: 20px;
    background-color:whitesmoke;
    height:100px;
    width: 200px;
}
