.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
label {
    font-size: 25px;
color: white;
text-shadow: 1px 2px #999;
}

.h2 {
    text-shadow: 1px 2px #999;
    color: white;
}
.h4 {
    text-shadow: 1px 2px #999;
    color: white;
}