
input {
    background-color: black;
    color: white;
  
}
h3 ,p{
    text-shadow: 1px 2px #999;
    color: white;
}
#home,#versiones {

   border:4px solid white;
    border-radius: 10px;
}
.vers {
    border:4px solid white;
    border-radius: 10px;
    color: white;
}


body {
background-attachment: fixed;
background-position: center center;
background-size: cover;
background-image: url("./fondos/fondo_ubuntu.jpg");
background-repeat: no-repeat;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
}