
input {
    background-color: black;
    color: white;
  
}

body {
background-attachment: fixed;
background-position: center center;
background-size: cover;
background-image: url("./fondos/fondo_window_2008.jpg");
background-repeat: no-repeat;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
}